*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* heading bar */
.heading-bar-container{
    background: #7E33E0;
    color: #fff;
    
}
.heading-bar{
    max-width: 70%;
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 16px;
}
.heading-bar ul{
    display: flex;
    gap: 5px;
    align-items: center;
}
.heading-bar li{
    list-style: none;
    display: flex;
    align-items: center;
}
.heading-bar a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}
.left-heading{
    display: flex;
    gap: 48px;
}
.left-heading img{
    margin-right: 10px;
}

.right-heading ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* menu section */
.menu-container{
    max-width: 70%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-section{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu-section ul li{
    list-style: none;
}
.menu-section ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-section ul li a{
    text-decoration: none;
    color: #0D0E43;
}
.menu-section ul li img{
    color: #0D0E43;
}
.search-section{
    display: flex;
}
.search-section input{
    outline: none;
    border: 2px solid #E7E6EF;
    color: black;
    font-size: 20px;
    border-right: 0;
}
.search-section img{
    background-color: #FB2E86;
    padding: 3px 5px;
}

/* products card */
.featured-products{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 28px;
    color: black;
}
.cards{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.product-card {
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #F6F7FB;
    position: relative;
    flex-direction: column;
}

.product-tumb img {
    height: 175px;
    width: 175px;
    object-fit: cover;
}
.product-card .icons{
    position: absolute;
    top: 10px;
    left: 10px;
}
.product-card .icons img{
    height: 19px;
    width: 19px;
    margin: 5px;
}
.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.view-details-btn{
    background-color: #08D15F;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    display: none;
}

.product-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 40px 20px;
    background-color: #fff;
}
.product-details .name{
    color: #FB2E86;
    font-size: 18px;
}
.product-details .code, .product-details .price{
    color: #151875;
    font-size: 14px;
}
.colors{
    display: flex;
    gap: 5px;
}
.color{
    height: 4px;
    width: 14px;
    border-radius: 5px;
}
.color-1{
    background-color: #05E6B7;
}
.color-2 {
    background-color: #F701A8;
}
.color-3 {
    background-color: #00009D;
}

/* latest section */
